<p>public home page</p>


@if(!authService.is_signed_in()){
<a [routerLink]="['/signin']">
    <button>signin</button>
</a>
<a [routerLink]="['/signup']">
    <button>signup</button>
</a>
}
@if(authService.is_signed_in()){
<a [routerLink]="['']">
    <button (click)="signout()">Sign out</button>
</a>
}

@if(authService.isAdmin()){
<button (click)="addBike()">Add bike</button>
}
@if(authService.is_signed_in()&&!authService.isAdmin()){
<button (click)="bookList()">Book list</button>
}

<app-bike-list></app-bike-list>