<p>bike-list works!</p>


@for (bike of bikeList;track bike.plate_number){
<div class="bike-item">
    <label>Bike plate-number: {{bike.plate_number}}</label>
    <label>Bike color: {{bike.color}}</label>
    <label>Bike status: {{bike.status}}</label>
    @if(authService.is_signed_in()&&!authService.isAdmin()){
    <button (click)="bookBike(bike._id)" [disabled]="bike.status === 'booked'">Book</button>
    }
    @if(authService.isAdmin()){
    <button (click)="updateBike(bike)">Edit</button>
    <button (click)="deleteBike(bike._id)">Delete</button>
    }

    <br><br>


</div>

}