<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <label placeholder="" for="name">Name:</label>
    <input type="text" id="name" formControlName="fullname">

    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email">

    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password">

    <button
        class="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
        type="submit" [disabled]="myForm.invalid">Submit</button>
</form>